@font-face {
  font-family: pressStart2p;
  src: url('./assets/PressStart2P-Regular.ttf');
}

:root {
  font-family: pressStart2p;
  font-size: 16px;
  line-height: 125%;
  --color-background: #FAFAE1;
  --color-foreground: #007c1c;
  --color-foreground-secondary: #D28C27;
  --color-primary: #33302c;
  --color-secondary: #8a1c01;
  --color-secondary-background: #33302c;
  --color-accent: #6E9A78;
  --color-accent-2: #deac40;
  --color-accent-secondary: #03390f;
  --color-shadow: #817769;
  --color-input: #fafaf0;
}

:root.dark {
  --color-background: #33302c;
  --color-foreground: #007c1c;
  --color-foreground-secondary: #D28C27;
  --color-primary: #03390f;
  --color-secondary: #8a1c01;
  --color-secondary-background: #4f1507;
  --color-accent: #6E9A78;
  --color-shadow: #151514;
  --color-input: #252321;
}

body {
  background-color: var(--color-background);
}

h2 {
  font-size: 1rem;
}

p {
  font-size: 0.75rem;
}

li {
  font-size: 0.75rem;
}

label {
  font-size: 0.75rem;
}

.wrapper {
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.content-container {
  width: 75%;
  margin-block: 40px;
  display: flex;
  flex-direction: column;
  gap: 20px
}

.menu {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
}

.route-button {
  background-color: var(--color-accent-secondary);
  color: var(--color-accent);
  padding-inline: 8px;
  padding-block: 5px;
  box-shadow: 3px 3px 0px var(--color-shadow);
}

.route-button.active {
  background-color: var(--color-secondary);
  color: var(--color-foreground-secondary);
  padding-inline: 8px;
  padding-block: 5px;
  box-shadow: 3px 3px 0px var(--color-shadow);
}

.text-box {
  background-color: var(--color-primary);
  color: var(--color-accent);
  border: var(--color-foreground) solid 5px;
  padding: 10px;
  box-shadow: 3px 3px 0px var(--color-shadow);
}

.text-box-orange {
  background-color: var(--color-secondary);
  color: var(--color-foreground-secondary);
  border: var(--color-secondary) solid 5px;
  padding: 10px;
  box-shadow: 3px 3px 0px var(--color-shadow);
}

.contact-content {
  width: 75%;
  max-width: 950px;
  margin-block: 40px;
  display: flex;
  flex-direction: column;
  gap: 20px
}

.contact-container {
  display: flex;
  justify-content: start;
  gap: 15px;
  align-items: center;
}

.contact-info-box {
  background-color: var(--color-primary);
  border: var(--color-foreground) solid 3px;
  padding-block: 10px;
  padding-inline: 10px;
}

.linkedin-mask {
  -webkit-mask-image:url('./assets/linkedin.svg');
  mask-image: url('./assets/linkedin.svg');
  mask-repeat: no-repeat;
  mask-size: contain;
  width: 24px;
  height: 24px;
  background-color: var(--color-foreground);
}

.mail-mask {
  -webkit-mask-image:url('./assets/at.svg');
  mask-image: url('./assets/at.svg');
  mask-repeat: no-repeat;
  mask-size: contain;
  width: 24px;
  height: 24px;
  background-color: var(--color-foreground);
}

.github-mask {
  -webkit-mask-image:url('./assets/github.svg');
  mask-image: url('./assets/github.svg');
  mask-repeat: no-repeat;
  mask-size: contain;
  width: 24px;
  height: 24px;
  background-color: var(--color-foreground);
}

.contact-info-box:hover {
  border-color: var(--color-foreground-secondary);
  background-color: var(--color-secondary);
}

.contact-info-box:hover .github-mask {
  background-color: var(--color-foreground-secondary);
}

.contact-info-box:hover .mail-mask {
  background-color: var(--color-foreground-secondary);
}

.contact-info-box:hover .linkedin-mask {
  background-color: var(--color-foreground-secondary);
}

.about-container {
  display: flex;
  gap: 30px;

  @media (width < 900px) {
    flex-direction: column;
  }
}

.about-container-large {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.about-container-small {
  display: flex;
  flex-direction: column;
  gap: 30px;
  text-wrap: nowrap;
}


.theme-button {
  background-color: var(--color-background);
  border: none;
  cursor: pointer;
}

.theme-icon {
  width: 24px;
  height: 24px;
}

.messages-container {
  display: flex;
  flex-direction: column;
  gap: 20px
}

.finished {
  text-decoration: line-through;
}

.guestbook-form-header {
  color: var(--color-accent);
  font-size: 0.85rem;
}

.guestbook-form-container {
  color: var(--color-accent);
  padding: 10px;
  background-color: var(--color-primary);
  box-shadow: 3px 3px 0px var(--color-shadow);
  border: var(--color-foreground) solid 5px;

}

.guestbook-form {
  display: flex;
  flex-direction: column;
  gap: 5px;
  padding-block: 15px;
}

.message-input {
  display: flex;
}

.input {
  background-color: var(--color-input);
  color: var(--color-accent);
  font-family: pressStart2p;
  font-size: 0.75rem;
  border: 2px solid var(--color-foreground);
}

.input:focus {
  outline: none;
}

.error-message {
  color: #8a1c01;
}

.textarea-input:focus {
  outline: none;
}

.textarea-input {
  background-color: var(--color-input);
  color: var(--color-accent);
  font-family: pressStart2p;
  font-size: 0.75rem;
  border: 2px solid var(--color-foreground);
  width: 100%;
  min-height: 40px;
}

.guestbook-button {
  display: flex;
  justify-content: end;
}

.button {
  font-family: pressStart2p;
  background-color: var(--color-secondary);
  color: var(--color-foreground-secondary);
  padding: 10px;
  border: 3px solid var(--color-secondary);
  cursor: pointer;
}

.button:hover {
  background-color: var(--color-foreground-secondary);
  color: var(--color-secondary);
}

.footer {
  font-size: 0.5rem;
}
